# generated sass/css files
src/

.storybook/
.env
webpack.config.js
tsconfig.json
.editorconfig
.eslintrc.js
.gitignore
.eslintcache

# mac files
*.DS_Store

.sync

# IDEs
\.sublime-workspace
*.sublime-workspace
.vscode
.idea/
.idea
.tags*

/tmp/webpack
