/**
 * Box Shadow
 */

.box-shadow-default {
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15)
}

/**
 * Width
 */

.min-w-300 {
    min-width: 300px !important;
}

.max-w-500 {
    max-width: 500px !important;
}
