/**
 * Box Shadow
 */

.box-shadow-default {
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15)
}

/**
 * Line height
 */

.leading-0 {
    line-height: 0 !important;
}

.leading-base {
    line-height: 1rem !important;
}

.leading-sm-1 {
    line-height: 0.85rem !important;
}

/**
 * Outline
 */

.outline-none {
    outline: none !important;
}

/**
 * Width
 */

.min-w-300 {
    min-width: 300px !important;
}

.max-w-500 {
    max-width: 500px !important;
}


/**
 * Text manipulations
 */

.break-word {
    word-break: break-word;
}
