.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: var(--charcoal-color-400);
    color: var(--white);
    border-radius: 4px;
    font-size: .85rem;
    line-height: 1.4;
    outline: 0;
    transition-property: transform, visibility, opacity
}

.tippy-content {
    position: relative;
    padding: 4px 8px;
    z-index: 1
}
